<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">admin</property>
		<property name="hibernate.connection.password">135ramin</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@firstdb.cbvyzohfw1dp.us-west-2.rds.amazonaws.com:1521:orcl</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<!-- show_sql useful during development, noisy in production -->
		<property name="hibernate.show_sql">true</property>
		<!-- choose whether to start fresh or update existing ddl -->
		<!-- update by default -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<!-- locations of domain object mappings -->
		<mapping class="com.revature.beans.Category"></mapping>
		<mapping class="com.revature.beans.Flashcard"></mapping>
	</session-factory>
</hibernate-configuration>